1}
A F&B manager wants to determine whether there is any significant difference in the 
diameter of the cutlet between two units. A randomly selected sample of cutlets was 
collected from both units and measured? Analyze the data and draw inferences at 5% significance level. 
Please state the assumptions and tests that you carried out to check validity of the assumptions.

Minitab File : Cutlets.csv

In [1]:
import pandas as pd
df = pd.read_csv("Cutlets.csv")
df.shape

(35, 2)

In [2]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
from scipy.stats import ttest_ind

# Perform two-sample t-test....
t_statistic, p_value = ttest_ind(df['Unit A'],df['Unit B'])


print("t_statistic value:", t_statistic)
print("p_values :",p_value)

t_statistic value: 0.7228688704678063
p_values : 0.4722394724599501

In [4]:
'''T-statistic: 0.7228688704678063
P-value: 0.4722394724599501
The t-statistic is 0.7228688704678063, and the p-value is 0.4722394724599501. 
Since the p-value is greater than the significance level of 0.05, 
we fail to reject the null hypothesis. 
This means there is no significant evidence to suggest a difference in the mean diameter of
cutlets between Unit A and Unit B at the 5% significance level.
'''

'T-statistic: 0.7228688704678063\nP-value: 0.4722394724599501\nThe t-statistic is 0.7228688704678063, and the p-value is 0.4722394724599501. \nSince the p-value is greater than the significance level of 0.05, \nwe fail to reject the null hypothesis. \nThis means there is no significant evidence to suggest a difference in the mean diameter of\ncutlets between Unit A and Unit B at the 5% significance level.\n'

In [5]:
from scipy.stats import shapiro, levene

# Check for normality
normality_test_a = shapiro(df['Unit A'])
normality_test_b = shapiro(df['Unit B'])

# Check for equality of variances
variance_test = levene(df['Unit A'], df['Unit B'])

print('Normality Test for Unit A:', normality_test_a)
print('Normality Test for Unit B:', normality_test_b)
print('Equality of Variances Test:', variance_test)

Normality Test for Unit A: ShapiroResult(statistic=0.9649458527565002, pvalue=0.3199819028377533)
Normality Test for Unit B: ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)
Equality of Variances Test: LeveneResult(statistic=0.6650897638632386, pvalue=0.4176162212502553)

In [6]:
'''The results of the tests are as follows:
Normality Test for Unit A: p-value = 0.320
Normality Test for Unit B: p-value = 0.522
Equality of Variances Test: p-value = 0.418'''

'The results of the tests are as follows:\nNormality Test for Unit A: p-value = 0.320\nNormality Test for Unit B: p-value = 0.522\nEquality of Variances Test: p-value = 0.418'

2}    A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of 
the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. 
TAT is defined as sample collected to report dispatch.
   
Analyze the data and determine whether there is any difference in average TAT among the different 
laboratories at 5% significance level.
 
 
Minitab File: LabTAT.csv

In [7]:
import numpy as np
import pandas as pd

df2 = pd.read_csv("LabTAT.csv")
df2.shape

(120, 4)

In [8]:
df2.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [9]:
import scipy.stats as stats

# Perform one-way ANOVA
f_statistic, p_value = stats.f_oneway(df2['Laboratory 1'], df2['Laboratory 2'], df2['Laboratory 3'], df2['Laboratory 4'])

f_statistic, p_value

(118.70421654401437, 2.1156708949992414e-57)

In [10]:
'''
The ANOVA test results indicate the following:

The F-statistic is approximately 118.70.
The p-value is very close to 0 (2.12e-57).'''

'\nThe ANOVA test results indicate the following:\n\nThe F-statistic is approximately 118.70.\nThe p-value is very close to 0 (2.12e-57).'

3} Sales of products in four different regions is tabulated for males and females. 
Find if male-female buyer rations are similar across regions.

In [11]:
import pandas as pd
import numpy as np

df3 = pd.read_csv("BuyerRatio.csv")
df3.shape

(2, 5)

In [12]:
df3.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [13]:
from scipy.stats import chi2_contingency

# Extracting the data for the analysis
observed_values = df3.iloc[:, 1:].values

# Performing the Chi-Square Test
chi2, p, dof, expected = chi2_contingency(observed_values)

print('Chi-square statistic:', chi2)
print('p-value:', p)
print('Degrees of freedom:', dof)
print('Expected frequencies:\
', expected)

Chi-square statistic: 1.595945538661058
p-value: 0.6603094907091882
Degrees of freedom: 3
Expected frequencies: [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [14]:
'''
The p-value of the Chi-Square test for independence is 0.6603, which is greater than the typical alpha level of 0.05.
Therefore, we fail to reject the null hypothesis. 
This means that there is no significant difference in the male-female
buyer ratios across the four regions (East, West, North, South). 
The male-female buyer ratios are similar across the regions.
'''

'\nThe p-value of the Chi-Square test for independence is 0.6603, which is greater than the typical alpha level of 0.05.\nTherefore, we fail to reject the null hypothesis. \nThis means that there is no significant difference in the male-female\nbuyer ratios across the four regions (East, West, North, South). \nThe male-female buyer ratios are similar across the regions.\n'